
    <section class="side_content_section">
      <div class="medicare_simplified_sidemenu">
        <h4 class="sidemenu_header">Medicare Options</h4>

        <ul class="sidemenu_ul custom-list">
          <li class="sidemenu_li"><%= link_to "Part D Prescription Drug Plans",
            medicare_options_path, class: "sidemenu_li" %></li>
          <li class="sidemenu_li"><%= link_to "What is Medicare Supplement (Medigap) Insurance?",
            mo_menu_two_path, class: "sidemenu_li" %></li>
          <li class="sidemenu_li"><%= link_to "Medicare Advantage Plans",
            mo_menu_three_path, class: "sidemenu_li" %></li>
          <li class="sidemenu_li"><%= link_to "Compare Medicare Supplement plans side by side",
            mo_menu_four_path, class: "sidemenu_li" %></li>
          <li class="sidemenu_li"><%= link_to "Coordinated Medicare/Medicaid Benefits",
            mo_menu_five_path, class: "sidemenu_li" %></li>
        </ul>
      </div>
    </section>
